[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-sdk-go-committers
	read = group GitHub Replication
	create = group ldap/hyperledger-gerrit-fabric-sdk-go-committers
[project]
	description = Hyperledger Fabric SDK in Go
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-sdk-go-committers
	createTag = group ldap/hyperledger-gerrit-fabric-sdk-go-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-sdk-go-committers
